{
    "swagger": "2.0",
    "info": {
        "title": "Uber API",
        "version": "1.0.0",
        "description": "Move your app forward with the Uber API"
    },
    "host": "api.uber.com",
    "basePath": "/v1",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/products": {
            "get": {
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "latitude",
                        "description": "Latitude component of location.",
                        "in": "query",
                        "required": true,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "longitude",
                        "description": "Longitude component of location.",
                        "in": "query",
                        "required": true,
                        "type": "number",
                        "format": "double"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "description": "An array of products",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Product"
                            }
                        }
                    }
                },
                "summary": "Product Types",
                "description": "The Products endpoint returns information about the Uber products offered at a given location. The response includes the display name and other details about each product, and lists the products in the proper display order."
            }
        },
        "/estimates/price": {
            "get": {
                "tags": [
                    "Estimates"
                ],
                "parameters": [
                    {
                        "name": "start_latitude",
                        "description": "Latitude component of start location.",
                        "in": "query",
                        "required": true,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "start_longitude",
                        "description": "Longitude component of start location.",
                        "in": "query",
                        "required": true,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "end_latitude",
                        "description": "Latitude component of end location.",
                        "in": "query",
                        "required": true,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "end_longitude",
                        "description": "Longitude component of end location.",
                        "in": "query",
                        "required": true,
                        "type": "number",
                        "format": "double"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "description": "An array of price estimates by product",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/PriceEstimate"
                            }
                        }
                    }
                },
                "summary": "Price Estimates",
                "description": "The Price Estimates endpoint returns an estimated price range for each product offered at a given location. The price estimate is provided as a formatted string with the full price range and the localized currency symbol.<br><br>The response also includes low and high estimates, and the [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217) currency code for situations requiring currency conversion. When surge is active for a particular product, its surge_multiplier will be greater than 1, but the price estimate already factors in this multiplier."
            }
        },
        "/estimates/time": {
            "get": {
                "tags": [
                    "Estimates"
                ],
                "parameters": [
                    {
                        "name": "start_latitude",
                        "description": "Latitude component of start location.",
                        "in": "query",
                        "required": true,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "start_longitude",
                        "description": "Longitude component of start location.",
                        "in": "query",
                        "required": true,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "customer_uuid",
                        "description": "Unique customer identifier to be used for experience customization.",
                        "in": "query",
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "product_id",
                        "description": "Unique identifier representing a specific product for a given latitude & longitude.",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "description": "An array of products",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Product"
                            }
                        }
                    }
                },
                "summary": "Time Estimates",
                "description": "The Time Estimates endpoint returns ETAs for all products offered at a given location, with the responses expressed as integers in seconds. We recommend that this endpoint be called every minute to provide the most accurate, up-to-date ETAs."
            }
        },
        "/me": {
            "get": {
                "tags": [
                    "User"
                ],
                "responses": {
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "description": "Profile information for a user",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    }
                },
                "summary": "User Profile",
                "description": "The User Profile endpoint returns information about the Uber user that has authorized with the application."
            }
        },
        "/history": {
            "get": {
                "tags": [
                    "User"
                ],
                "parameters": [
                    {
                        "name": "offset",
                        "description": "Offset the list of returned results by this amount. Default is zero.",
                        "in": "query",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "description": "Number of items to retrieve. Default is 5, maximum is 100.",
                        "in": "query",
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "description": "History information for the given user",
                        "schema": {
                            "$ref": "#/definitions/Activities"
                        }
                    }
                },
                "summary": "User Activity",
                "description": "The User Activity endpoint returns data about a user's lifetime activity with Uber. The response will include pickup locations and times, dropoff locations and times, the distance of past requests, and information about which products were requested.<br><br>The history array in the response will have a maximum length based on the limit parameter. The response value count may exceed limit, therefore subsequent API requests may be necessary."
            }
        }
    },
    "definitions": {
        "Product": {
            "properties": {
                "product_id": {
                    "description": "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles.",
                    "type": "string"
                },
                "description": {
                    "description": "Description of product.",
                    "type": "string"
                },
                "display_name": {
                    "description": "Display name of product.",
                    "type": "string"
                },
                "capacity": {
                    "description": "Capacity of product. For example, 4 people.",
                    "type": "string"
                },
                "image": {
                    "description": "Image URL representing the product.",
                    "type": "string"
                }
            }
        },
        "PriceEstimate": {
            "properties": {
                "product_id": {
                    "description": "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles",
                    "type": "string"
                },
                "currency_code": {
                    "description": "[ISO 4217](http://en.wikipedia.org/wiki/ISO_4217) currency code.",
                    "type": "string"
                },
                "display_name": {
                    "description": "Display name of product.",
                    "type": "string"
                },
                "estimate": {
                    "description": "Formatted string of estimate in local currency of the start location. Estimate could be a range, a single number (flat rate) or \"Metered\" for TAXI.",
                    "type": "string"
                },
                "low_estimate": {
                    "description": "Lower bound of the estimated price.",
                    "type": "number"
                },
                "high_estimate": {
                    "description": "Upper bound of the estimated price.",
                    "type": "number"
                },
                "surge_multiplier": {
                    "description": "Expected surge multiplier. Surge is active if surge_multiplier is greater than 1. Price estimate already factors in the surge multiplier.",
                    "type": "number"
                }
            }
        },
        "Profile": {
            "properties": {
                "first_name": {
                    "description": "First name of the Uber user.",
                    "type": "string"
                },
                "last_name": {
                    "description": "Last name of the Uber user.",
                    "type": "string"
                },
                "email": {
                    "description": "Email address of the Uber user",
                    "type": "string"
                },
                "picture": {
                    "description": "Image URL of the Uber user.",
                    "type": "string"
                },
                "promo_code": {
                    "description": "Promo code of the Uber user.",
                    "type": "string"
                }
            }
        },
        "Activity": {
            "properties": {
                "uuid": {
                    "description": "Unique identifier for the activity",
                    "type": "string"
                }
            }
        },
        "Activities": {
            "properties": {
                "offset": {
                    "format": "int32",
                    "description": "Position in pagination.",
                    "type": "integer"
                },
                "limit": {
                    "format": "int32",
                    "description": "Number of items to retrieve (100 max).",
                    "type": "integer"
                },
                "count": {
                    "format": "int32",
                    "description": "Total number of items available.",
                    "type": "integer"
                },
                "history": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Activity"
                    }
                }
            }
        },
        "Error": {
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        }
    }
}